.player-card {
  .card-content {
    padding: 0.25rem;
    min-width: 250px;
    .media {
      align-items: center;
      .media-left {
        margin-right: 0.5rem;
        .image {
          display: flex;
          overflow: hidden;
        }
      }
      .media-content {
        padding-right: 0.5rem;
        .subtitle {
          display: flex;
          justify-content: space-between;
          height: 24px;
        }
      }
    }
  }
}
